# Virtual environment
env1/
reparoenv/

# Byte-compiled / binary files
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs and database
*.log
db.sqlite3

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Media and static files
media/
staticfiles/

# Environment variables
.env
*.env

# VS Code and IDE files
.vscode/
.idea/
